<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/front/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/front/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/front/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <% include layout/topbar.ejs %>
    <!-- Topbar End -->


    <!-- Navbar Start -->
  <% include layout/navbar.ejs %>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <% include layout/carousel.ejs %>
    <!-- Carousel End -->


    <!-- Featured Start -->
    <% include layout/featured.ejs %>
    <!-- Featured End -->


    <!-- Categories Start -->
    
    <% include layout/category.ejs%>
        
    <!-- Categories End -->


    <!-- Products Start -->
        <% include layout/products.ejs %>
    <!-- Products End -->


    <!-- Offer Start -->
    <% include layout/offers.ejs %>
    <!-- Offer End -->


    <!-- Products Start -->
    <% include layout/recentproduct.ejs %>
    <!-- Products End -->


    <!-- Vendor Start -->
    
    <!-- Vendor End -->
 <% include layout/vender.ejs %>

    <!-- Footer Start -->
   <% include layout/footer.ejs %>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/front/lib/easing/easing.min.js"></script>
    <script src="/front/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/front/mail/jqBootstrapValidation.min.js"></script>
    <script src="/front/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/front/js/main.js"></script>
</body>

</html>